/* Global properties */

:root {
    /* colors */
    --color-snow: hsl(0, 0%, 100%);
    --color-graphite: hsl(0, 0%, 50%);
    --color-sky: hsl(214, 76%, 72%);
    --color-cloud: hsl(0, 0%, 70%);

    /* Space */
    --space-min: 4px;
    --space-normal: 8px;
    --space-med: 16px;
    --space-big: 24px;

    /* Text */
    --text-min: 12px;
    --text-normal: 14px;
    --text-med: 18px;
    --text-big: 24px;
    --text-hero: 32px;
}


/* Base styles */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: var(--color-graphite);
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}


/* Text styles */

.h1 {
    font-size: var(--text-big);
    font-weight: 400;
}

.h2 {
    font-size: var(--text-med);
    font-weight: 500;
}

.h3 {
    font-size: var(--text-normal);
    font-weight: 500;
}

.base {
    font-size: var(--space-normal);
    line-height: 20px;
}

.optional {
    font-size: var(--text-min);
    line-height: 14px;
}


/* Global components */

.icon {
    height: 32px;
    width: 32px;
    background-color: var(--color-snow);
    border-radius: 50%;
}

.icon_1 {
    
}

.icon_1 path {
    fill: var(--color-sky);
}


/* Components */

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    height: 48px;
    background: transparent;
}

.main {
    height: 100%;
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
}

.menu_mobile {
    box-shadow: -1px 0 2px 0 rgba(0,0,0, .2), -8px 0 8px 0 rgba(0,0,0, .1);
    background-color: var(--color-snow);
    height: 48px;
    width: 100%;
    display: none;
    transition: all .15s ease-out;
}

.cards {
    overflow: auto;
    content: "";
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
    width: 100%;
    max-width: 864px;
    margin-right: var(--space-med);
}

.cards::-webkit-scrollbar {
    width: 0;
}

.cards__item {
    margin-bottom: var(--space-normal);
}

.cards__item:last-child {
    margin-bottom: 0;
}

.card {
    position: relative;
    overflow: hidden;
    background-color: var(--color-snow);
    border-radius: 4px;
    min-height: 48px;
    min-width: 320px;
}

.card__content {
    display: flex;
    margin: 8px 40px 8px 8px;
}

.card__icon {
    margin-right: 8px;
}

.card__list {
    display: flex;
    flex-direction: column;
}

.card__title {
    color: var(--color-sky);
    margin-bottom: var(--space-min);
    padding-top: 4px;
}

.card__title .h2 {
    color: var(--color-sky);
}

.card__description {
    
}

.card__description .optional {
    color: var(--color-cloud);
}

.card__nav {

}

.card__drag {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 8px;
    margin-bottom: 8px;
}

.icon_drag {
    background-color: var(--color-cloud);
}

.sidebar {
    flex-shrink: 0;
    overflow: auto;
    background-color: var(--color-snow);
    border-radius: 4px;
    border-radius: 4px;
    width: 320px;
}

.sidebar::-webkit-scrollbar {
    width: 0;
}

.footer {
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.copy {
    font-size: var(--text-min);
    text-align: center;
    color: var(--color-snow);
}


/* media */

/* Hide aside */

@media (max-width: 869px) {

    .cards {
        margin-right: 0;
    }

    .sidebar {
        display: none;
    }
}


/* Show mobile menu */

@media (max-width: 480px) {
    .main {
        padding-left: 0;
        padding-right: 0;
    }

    .menu_mobile {
        display: initial;
    }

    .card .card__content .card__list .card__description {
        display: none;
    }

    .card .card__content .card__list .card__nav {
        display: none;
    }

    .card .card__drag {
        display: none;
    }
}

/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    body {
        background-image: url(/assets/images/bg@2x.jpg);
    }
}