/* Global variable */

:root {
    /* colors */
    --color-snow: hsl(0, 0%, 100%);
    --color-graphite: hsl(0, 0%, 50%);
    --color-cloud: hsl(0, 0%, 80%);
}


/* Base styles */

* {
    margin: 0;
    padding: 0;
    color: var(--color-graphite);
}

html {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

p {
    font-size: 14px;
    line-height: 20px;
}


/* Tags */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/assets/images/bg.jpg) no-repeat;
    background-size: cover;
}

header {
    display: flex;
    height: 48px;
    background: transparent;
    width: 100%;
}

aside {
    background-color: #fff;
    border-radius: 4px;
    width: 320px;
}


/* Classes */

.wrapper {
    display: flex;
    justify-content: center;
    margin-left: 16px;
    padding-right: 16px;
}

.cards {
    content: "";
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    max-width: 864px;
}

.card {
    background-color: var(--color-snow);
    border-radius: 4px;
    min-height: 48px;
    min-width: 320px;
    margin-bottom: 8px;
}


/* media */

/* Hide aside */

@media (max-width: 869px) {
    aside {
        display: none;
    }
}

/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    body {
        background-image: url(/assets/images/bg@2x.jpg);
    }
}